<div class="card-container">
  <div class="card">
    <div class="m-4">
      <turbo-frame id="amenity">
        <div class="flex justify-between items-center mb-4">
          <h2 class="title">Amenities</h2>
          <%= link_to "Add",
                      new_admin_hotel_amenity_path(@hotel),
                      data: { "turbo-frame": "new_amenity" },
                      class: "btn" %>
        </div>
        <div class="my-4">
          <div class="w-full overflow-hidden">
            <div class="bg-background p-2 border-b">
              <div class="flex justify-between items-center text-sm font-medium text-gray-700">
                <h3 class="w-[20%] text-center">Image</h3>
                <h3 class="flex-1 text-center">Name</h3>
                <h3 class="flex-1 text-center">Actions</h3>
              </div>
            </div>
            <div id="amenities">
              <% @amenities.each do |amenity| %>
                <turbo-frame id="amenity_<%= amenity.id %>">
                  <%= render "admin/amenities/amenity", amenity: amenity %>
                </turbo-frame>
              <% end %>
            </div>
            <div class="flex justify-end items-center mt-2">
              <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
            </div>
          </div>
        </div>
      </turbo-frame>
    </div>
  </div>
</div>
