<div class="card-container">
  <div class="card">
    <turbo-frame id="<%= dom_id @guest %>">
      <h2 class="title p-4">Update Guest</h2>
      <%= render "form", guest: @guest %>
    </turbo-frame>
  </div>
</div>
