<turbo-frame id="employee">
  <div class="card-container">
    <div class="card">
      <h2 class="title p-4">Add Employee</h2>
      <%= render "admins/employees/form", employee: @employee %>
    </div>
  </div>
</turbo-frame>
