<div class="card-container">
  <div class="card">
    <turbo-frame id="amenity">
      <h2 class="title m-4">Update Amenity</h2>
      <%= render "form", amenity: @amenity %>
    </turbo-frame>
  </div>
</div>
