<div class="card-container">
  <div class="card">
    <turbo-frame id="<%= dom_id @room %>">
      <h2 class="title m-4">Update Room</h2>
      <%= render "form", room: @room %>
    </turbo-frame>
  </div>
</div>
