<turbo-frame id="<%= dom_id @room %>">
  <div class="card-container">
    <div class="card">
      <h2 class="title m-4">Update Room</h2>
      <%= render "form", room: @room %>
    </div>
  </div>
</turbo-frame>
