<div class="card-container">
  <div class="card">
    <turbo-frame id="facility">
      <h2 class="title">Update Room Facility</h2>
      <%= render "form", facility: @facility %>
    </turbo-frame>
  </div>
</div>
