<div class="card-container">
  <div class="card">
    <turbo-frame id="Facility">
      <h2 class="title">Add Facility</h2>
      <%= render "admins/facilities/form", facility: @facility %>
    </turbo-frame>
  </div>
</div>
