<div id="avatar" class="flex flex-row items-center gap-2 ml-auto">
  <%= link_to admins_profiles_path do %>
    <div class="avatar-wrapper">
      <%= image_tag(profile&.avatar || 'https://via.placeholder.com/50x50', class: "avatar w-full h-full", alt: "Profile Image") %>
    </div>
  <% end %>
  <p class="hidden md:block">Hello <span class="block title text-primary-regular"><%= profile&.first_name %></span></p>
</div>
