<div class="w-full flex flex-col border-box">
  <div class="flex flex-row justify-between items-center p-4">
    <p class="font-title font-medium text-lg hidden md:block md:text-2xl text-primary-regular tracking-wider">Yoezer</p>
    <div class="flex flex-row items-center gap-2 ml-auto">
      <%= link_to admin_profiles_path do %>
        <%= icon("fa-solid", "user", class: "fa-2x border flex bg-white rounded-full p-2 text-primary-regular self-end hover:bg-background") %>
      <% end %>

      <p class="hidden md:block">Hello <span class="block font-title text-primary-regular font-semibold tracking-wider"><%= current_admin.profile&.first_name %></span></p>
    </div>
  </div>
  <hr class="text-primary-regular mb-2">
</div>
