<div class="w-full flex flex-col border-box">
  <div class="flex flex-row justify-between items-center p-4">
    <p class="font-title font-medium text-lg hidden md:block md:text-2xl text-primary-regular tracking-wider">Yoezer</p>
    <%= render 'admin/profiles/avatar', profile: current_admin.profile , id: "avatar" %>
  </div>
  <hr class="text-primary-regular mb-2">
</div>
