<dialog id="errorDialog" class="bg-white w-full md:w-3/4 lg:w-2/3 xl:w-1/2 p-6 z-10" data-booking-target="errorDialog">
  <h3 class="user-title mb-4">Sorry!</h3>
  <p data-error-message>An error occurred. Please try again.</p>
  <div class="flex items-center mt-4 gap-5">
    <button type="button" class="btn" data-action="click->booking#closeErrorDialog">Close</button>
  </div>
</dialog>