<% flash.each do |flash_type, message| %>
  <div
    class="<%= flash_class(flash_type) %>"
    data-controller="removals"
    data-action="animationend->removals#remove">
    <%= message %>
  </div>
<% end %>
