<div class="relative w-full h-[50vh] md:h-[40rem]">
  <div class="absolute inset-0 w-full h-full overflow-hidden">
    <%= image_tag('banner.jpg', class: "object-cover w-full h-full") %>
  </div>

  <div class="absolute inset-0 bg-primary-regular bg-opacity-50 backdrop-blur-sm"></div>

  <div class="absolute inset-0 flex flex-col items-center justify-center text-white gap-4 md:gap-10 px-4 text-center">
    <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold font-title">YOEZER HOTEL</h1>
    <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold font-title">YOUR HOME</h1>
    <p class="text-sm md:text-base lg:text-lg">Every moment feels like the first time in paradise view</p>
    <div class="mt-4 md:mt-6">
      <%= link_to "Book Now", root_path, class: "bg-white rounded-sm hover:shadow-lg rounded-none text-primary-regular hover:bg-primary-regular hover:text-white transition duration-300 px-6 py-2 md:px-8 md:py-3 text-lg md:text-xl font-semibold" %>
    </div>
  </div>
</div>

<div class="w-full my-4">
  <div class="px-6 lg:px-12 mx-6 lg:mx-12 py-4">
    <h1 class="text-4xl font-title text-primary-regular text-center mb-8">Our Facilities</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 justify-items-center">
      <% @amenities.each do |amenity| %>
        <%= render 'home/amenity_card', amenity: amenity %>
      <% end %>
    </div>
  </div>

  <div class="px-6 lg:px-12 mx-6 lg:mx-12 py-4">
    <h1 class="text-4xl font-title text-primary-regular text-center mb-8">Our Rooms</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 justify-items-center">
      <% @amenities.each do |amenity| %>
        <%= render 'home/amenity_card', amenity: amenity %>
      <% end %>
    </div>
  </div>


</div>