<div class="card-container">
  <div class="card">
    <turbo-frame id="<%= dom_id @hotel_gallery %>">
      <h2 class="title m-4">Update Gallery</h2>
      <%= render "form", hotel_gallery: @hotel_gallery %>
    </turbo-frame>
  </div>
</div>
