@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Libre Baskerville";
    src: url("LibreBaskerville-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none
    }
}

@layer components {
    .btn{
        @apply font-title tracking-wider px-4 py-2 bg-primary-regular text-white rounded hover:bg-primary-dark transition duration-300;
    }
    .sidebar-menu-container{
        @apply flex flex-col items-center;
    }
    .sidebar-menu-row{
        @apply flex justify-between items-center gap-2 py-1 px-2 mb-2;
    }
    .sidebar-menu-button{
        @apply w-5/6 flex flex-row items-center py-2 px-2 mb-2 rounded hover:bg-white hover:transition ease-in-out duration-300;
    }
    .sidebar-menu-icon{
        @apply text-white group-hover:text-primary-regular;
    }
    .sidebar-menu-title {
        @apply font-title tracking-wider text-white font-semibold group-hover:text-primary-regular;
    }
    .card-container{
        @apply w-full lg:w-4/5 xl:w-3/5 mx-auto;
    }
    .card {
        @apply bg-white border rounded mx-4 mt-8;
    }
    .card-bg {
        @apply bg-white border rounded
    }
    .card-wrapper-sm {
        @apply w-96 h-72;
    }
    .card-wrapper{
        @apply w-96 h-80;
    }
    .card-wrapper-md {
        @apply w-full h-[400px] md:h-[600px];
    }
    .card-animation{
        @apply hover:transition ease-in-out duration-300 hover:scale-105 hover:shadow-lg
    }
    .title{
        @apply font-title font-semibold tracking-wider text-lg md:text-xl text-primary-regular;
    }
    .input-container{
        @apply flex p-2 flex-col items-start md:flex-row md:items-center;
    }
    .input-field{
        @apply  w-11/12 md:w-2/3 text-text-color/50 font-poppins p-2 border rounded focus:outline-primary-regular;
    }
    .input-label{
        @apply w-40 shrink-0 self-start pt-2
    }
    .input-label-lg {
        @apply input-label w-48
    }
    .input-value {
        @apply text-text-color/50 font-poppins text-wrap;
    }
    .flash {
        @apply fixed left-1/2 top-28 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center gap-4 px-4 w-full z-50;
    }

    @keyframes appear-then-fade {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }
        10%, 90% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(10px);
        }
    }
    .flash-notice{
        @apply text-sm font-title text-white text-center px-4 py-2 bg-success rounded-lg;
        animation: appear-then-fade 4s both;
    }
    .flash-alert {
        @apply text-sm text-white font-title text-center px-4 py-1 bg-error rounded-lg;
        animation: appear-then-fade 4s both;
    }
    .flash-normal {
        @apply text-sm text-red-500 font-title text-center px-4 py-1 bg-white rounded-lg;
        animation: appear-then-fade 4s both;
    }
    .select-field {
        @apply  w-11/12 md:w-2/3 text-text-color/50 bg-background font-poppins p-2 border rounded focus:outline-primary-regular ;
    }
    #profile_designation{
        @apply select-field
    }
    #room_status{
        @apply select-field
    }
    #room_room_category_id{
        @apply select-field
    }
    #booking_payment_status {
        @apply select-field
    }
    .hover-animation{
        @apply hover:scale-110 hover:transition ease-in-out delay-75;
    }
    .avatar-wrapper{
        @apply w-11 h-11
    }
    .avatar {
        @apply rounded-full object-cover hover-animation
    }
    .icon {
        @apply rounded-full bg-background hover:bg-white border
    }
    .icon-button{
        @apply icon hover-animation hover:shadow-lg
    }
    nav{
        @apply flex justify-between py-3 items-center
    }
    nav a {
        @apply px-3 py-1 mr-1 border rounded text-text-color hover:bg-background;
    }
    nav a[class="current"] {
        @apply bg-primary-regular text-white font-bold;
    }
    nav a[aria-disabled='true'] {
        @apply cursor-not-allowed;
    }
    nav a[class='gap'] {
        @apply px-3 text-text-color/60;
    }
    .card-image-wrapper-md {
        @apply w-full h-1/3 md:h-1/2 flex-grow
    }
    .card-image-wrapper-sm {
        @apply w-full h-3/4 flex-grow
    }
    .image-wrapper{
        @apply w-36 h-36
    }
    .image {
        @apply rounded w-full h-full object-cover
    }
    .image-md {
        @apply w-72 h-40 lg:w-96 lg:h-48 object-cover rounded-lg border
    }
    .image-upload {
        @apply h-24 w-24 md:h-32 md:w-32 icon p-2 z-0
    }
    .query-field {
        @apply bg-white p-2 mt-4 text-sm rounded border-2 focus:shadow-none focus:border-primary-regular focus:outline-none
    }
    .field_with_errors {
        @apply border border-red-500
    }

    /*    User Home   */
    .user-heading-title {
        @apply text-4xl md:text-6xl lg:text-8xl font-bold font-title
    }
    .user-title {
        @apply text-4xl font-title text-primary-regular text-center mb-8
    }
    .user-subtitle {
        @apply font-title text-primary-regular text-2xl
    }

    .user-card-layout {
        @apply flex flex-wrap justify-center md:justify-evenly lg:justify-center gap-8
    }
    .user-card{
        @apply  bg-white shadow-md  rounded-sm
    }
    .absolute-layout{
        @apply absolute inset-0 rounded-none flex flex-col items-center justify-center
    }
    .user-nav-link {
        @apply cursor-pointer hover:text-white hover:scale-105 transition duration-300
    }
    .user-btn {
        @apply border border-primary-regular bg-white text-primary-regular hover:bg-primary-regular hover:text-white rounded-none px-4 py-2 transition duration-300;
    }
    .user-room-detail-icon {
        @apply text-primary-regular text-lg w-6 text-center
    }
    .user-card-container {
        @apply w-full mx-auto sm:w-3/4 md:w-4/5 lg:w-1/2 h-[300px] md:h-[400px] overflow-hidden
    }
    .user-description{
        @apply line-clamp-4 text-ellipsis text-balance text-center lg:text-start leading-[1.8]
    }
}
