@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Libre Baskerville";
    src: url("LibreBaskerville-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@layer components {
    .btn{
        @apply font-title tracking-wider px-4 py-2 bg-primary-regular text-white rounded hover:bg-primary-dark;
    }
    .sidebar-menu-container{
        @apply flex flex-col items-center;
    }
    .sidebar-menu-row{
        @apply flex justify-between items-center gap-2 py-1 px-2 mb-2
    }
    .card-container{
        @apply w-full md:w-5/6 lg:w-3/5 mx-auto;
    }
    .card {
        @apply bg-white border rounded mx-4 mt-8;
    }

    .title{
        @apply font-title font-medium text-lg md:text-xl text-primary-regular;
    }
    .input-container{
        @apply flex p-2 flex-col items-start md:flex-row md:items-center;
    }
    .input-field{
        @apply  w-11/12 md:w-1/2 text-text-color/50 font-poppins p-2 border rounded focus:outline-primary-regular;
    }
    .input-value{
        @apply md:px-2 text-text-color/50 font-poppins;
    }
    .flash {
        @apply fixed left-1/2 top-28 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center gap-4 px-4 w-full z-50;
    }

    @keyframes appear-then-fade {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }
        10%, 90% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(10px);
        }
    }
    .flash-notice{
        @apply text-sm font-title text-white text-center px-4 py-2 bg-success rounded-lg;
        animation: appear-then-fade 4s both;
    }
    .flash-alert {
        @apply text-sm text-white font-title text-center px-4 py-1 bg-error rounded-lg;
        animation: appear-then-fade 4s both;
    }
    .flash-normal {
        @apply text-sm text-red-500 font-title text-center px-4 py-1 bg-white rounded-lg;
        animation: appear-then-fade 4s both;
    }
    #profile_designation{
        @apply  w-11/12 md:w-1/2 text-text-color/50 bg-background font-poppins p-2 border rounded focus:outline-primary-regular ;
    }
    .hover-animation{
        @apply hover:scale-110 hover:transition ease-in-out delay-75;
    }
    .avatar {
        @apply h-11 w-11 rounded-full object-cover hover-animation
    }
    .icon{
        @apply h-8 w-8 rounded-full p-1 bg-background
    }
    .icon-button{
        @apply icon hover-animation hover:shadow-lg
    }

    nav{
        @apply flex justify-between py-3 items-center
    }

    nav a {
        @apply px-3 py-1 mr-1 border rounded text-text-color hover:bg-background;
    }

    nav a[class="current"] {
        @apply bg-primary-regular text-white font-bold;
    }

    nav a[aria-disabled='true'] {
        @apply cursor-not-allowed;
    }

    nav a[class='gap'] {
        @apply px-3 text-text-color/60;
    }
}
