<div class="card-container">
  <div class="card">
    <turbo-frame id="bed_type">
      <h2 class="title">Update Bed Type</h2>
      <%= render "form", bed_type: @bed_type %>
    </turbo-frame>
  </div>
</div>
