<div class="card-container">
  <div class="card">
    <turbo-frame id="bed_type">
      <h2 class="title m-4">Add Bed Type</h2>
      <%= render "admins/bed_types/form", bed_type: @bed_type %>
    </turbo-frame>
  </div>
</div>
