<div class="card-container">
  <div class="card">
    <turbo-frame id="room_category">
      <h2 class="title">Update Room Category</h2>
      <%= render "form", room_category: @room_category %>
    </turbo-frame>
  </div>
</div>
