<div class="w-full flex flex-col items-center">
  <div class="card-container">
    <div class="card p-4">
        <turbo-frame id="room_category">
          <div class="flex justify-between items-center mb-4">
            <h2 class="title">Room Category</h2>
            <%= link_to "Add",
                        new_admins_hotel_room_category_path(@hotel),
                        data: { "turbo-frame": "room_category" },
                        class: "btn" %>
          </div>
          <div class="w-full overflow-hidden my-4">
            <div class="bg-background p-2 border-b">
              <div class="flex justify-between items-center text-sm font-medium text-gray-700 p-2">
                <h3 class="flex-1 text-center">Name</h3>
                <h3 class="w-[30%] text-center">Action</h3>
              </div>
            </div>
            <div id="amenities">
                <% if @room_categories.blank? %>
                  <h3 class="text-text-color/50 text-center mt-4 p-2">No search result found!</h3>
                <% else %>
                  <% @room_categories.each do |room_category| %>
                    <turbo-frame id="room_category_<%= room_category.id %>">
                      <%= render "admins/room_categories/category", room_category: room_category %>
                    </turbo-frame>
                  <% end %>
                <% end %>
            </div>
            <div class="flex justify-end items-center mt-2">
              <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
            </div>
          </div>
        </turbo-frame>
    </div>
  </div>
</div>